.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  width: 100%;
  /*height: 80px;*/
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar .links {
  text-align: center;
  margin-right: 50px;
}

.links a {
  color: white;
  text-decoration: none;
  /*border-bottom: 3px solid white;*/
  padding-bottom: 2px;
  margin: 10px;
}

.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.user p {
  margin-right: 15px;
  margin-top: 15px;
}

.create-post {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

form {
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(5px);
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heart {
  color: white;
  background-color: currentColor;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  transform: rotate(-45deg);
  width: 10px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 2;
}

.heart-checkbox {
  display: none;
}

.heart:before {
  content: "";
  background-color: currentColor;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: -2;
  border: 1px solid transparent;
  transform: rotate(45deg);
}

.heart:after {
  content: "";
  background-color: currentColor;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: -2;
  border: 1px solid transparent;
  transform: rotate(-45deg);
}

.heart:before {
  top: -4px;
  left: -1px;
  border-top-color: black;
  border-left-color: black;
}

.heart:after {
  left: 3px;
  top: 0px;
  border-right-color: black;
  border-bottom-color: black;
}

.heart-checkbox:checked + .heart {
  color: red;
}


.heart2 {
  width:20px;
  height:20px;
  background:
   radial-gradient(80% 80% at 70% 65%, transparent calc(69% - 1px), black 69%, transparent calc(69% + 1px)) top left,
   radial-gradient(80% 80% at 30% 65%, transparent calc(69% - 1px), black 69%, transparent calc(69% + 1px)) top right,
   linear-gradient(to bottom left,     transparent calc(37% - 1px), black 37%, transparent calc(37% + 1px)) bottom left ,
   linear-gradient(to bottom right,    transparent calc(37% - 1px), black 37%, transparent calc(37% + 1px)) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
  overflow:hidden;
  resize:none;
}

.heart-checkbox2 {
  display: none;
}

.heart2Red,
.heart-checkbox2:checked + .heart2 {
  width:20px;
  height:20px;
  background:
   radial-gradient(90% 90% at 60% 65%, red calc(64% - 1px), black 64%, transparent calc(64% + 1px)) top left,
   radial-gradient(90% 90% at 40% 65%, red calc(64% - 1px), black 64%, transparent calc(64% + 1px)) top right,
   linear-gradient(to bottom left,     red calc(43% - 1px), black 43%, transparent calc(43% + 1px)) bottom left ,
   linear-gradient(to bottom right,    red calc(43% - 1px), black 43%, transparent calc(43% + 1px)) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
  overflow:hidden;
  resize:none;
  
}
